.card {
	background: #FEFEFE;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	bottom: 137px;
	right: 24px;
	height: 626px;
	width: 566px;
    border-radius: 10px;
}

.form {
	width: 50%;
	margin: 15% auto;  
}

.form h1 {
	text-align: center;
	margin-bottom: 20%;
}

.form input {
	width: 100%;
	height: 30px;
	margin-bottom: 15%;
	border-color: #b2b7bb4f;
	border-radius: 10px;
}

.form .link {
	text-align: center;
	margin: 5% 0;
}

.form a {	
	text-align: center;
	color: #b2b7bb;
}

.form .link .register {
	color: #4285F4;
	text-decoration: none;
}

.btn {
	width: 90%;
	height: 40px;
	margin: 10% 5% 0 5%;
	border: none;
	background-color: #FF9146;
	background: linear-gradient(90deg, #FF9146 0%, #FF351B 100%);
	border-radius: 5px;
	color: #fefefe;
}
